@model MyDynastyHomesAuth.Models.HouseContext
    @{
        ViewBag.Title = "Home Page";
    }
    <!DOCTYPE html>
    <html>


    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style>
            body {
                /* height: 100%;
            width: 100%;*/
                background-image: url('https://incheshiremagazine.co.uk/wp-content/uploads/2016/12/Georgian-Mansion-House-in-Alderley-wins-Gold-for-CHeshire-Developer-Huntsmere-day-shot-002.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                /*      text-size-adjust: 200%;
            text-align: center;*/
                background-attachment: fixed;
                background-size: cover;
            }
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            .flip-card {
                background-color: transparent;
                width: 300px;
                height: 300px;
                perspective: 1000px;
            }

            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .flip-card-front {
                background-color: #bbb;
                color: black;
            }

            .flip-card-back {
                background-color: #2980b9;
                color: white;
                transform: rotateY(180deg);
            }

        </style>
    </head>


    <body>


        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block" style="display:none;z-index:5" id="mySidebar">
            <button class="w3-bar-item w3-button w3-xxlarge" onclick="w3_close()">Close &times;</button>
            <a href="https://localhost:44314/MyHous" class="w3-bar-item w3-button">Houses</a>
            <a href="https://localhost:44314/Account/Login" class="w3-bar-item w3-button">Log in</a>
            <a href="https://localhost:44314/Account/Register" class="w3-bar-item w3-button">Register</a>

        </div>

        <!-- Page Content -->
        <div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

        <div>
            <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
            </div>
        </div>
        <h1 style="text-align:center"><a href="https://localhost:44314/MyHous"><font face="Monotype Corsiva" size="6">My Dynasty Homes</font></a></h1>
        <script>
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
        </script>

    </body>



    @*<body>
          




        </body>*@
</html>



@*<body>




    <div class="row">
        <div class="col-md-4">
            <h2>Register for an account</h2>

            <p><a class="btn btn-default" href="https://localhost:44314/Account/Register">Register &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Log in to your account</h2>
            <p>- View your Dynasty<br />- Grow your dynasty<br />- Update your Dynasty</p>
            <p><a class="btn btn-default" href="https://localhost:44314/Account/Login">Log in &raquo;</a></p>
        </div>
    </div>
    </body>*@
